.r_reset .r_list {
    padding: 0;
}
.r_reset  .r_item-row {
    display: none;
}

/* Hide SEO toggle */
.r_reset  .r_bar .r_list-subheader-seo {
    display: none;
}

.r_reset  .r_item-row.r_item-type-seo {
    display: block;
    padding: 10px;
    margin: 10px;
    padding-right: 16px;
}

.r_reset  .r_item-row.r_item-type-seo span{
    font-size: 12px;
}