@import (reference) "vars";

.r_bar {
  @import "items-list";
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  color: @md-grey-900;
  z-index: 1000;
  width: 320px;
  border-radius: 2px;
  font-family: @font;
  background-color: @md-white;
  box-shadow: @md-shadow-2;
}

.r_bar-header {
  padding: 0 5px 0 10px;
  height: 30px;
  line-height: 28px;
  cursor: pointer;
  color: @md-white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: @background-header;
}

.r_bar-header-button {
  float: right;
  width: 25px;
  height: 27px;
  padding: 1px;
  font-size: 18px;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: @md-white;
}

.r_tabs {

}

.r_tabs-header {
  //display: flex;
  display: none;
  width: 100%;
  background-color: @md-blue-grey-800;
}

.r_tab-content {
  padding: 10px;
  position: relative;
}

.r_tab {
  cursor: pointer;
  flex: 1 1;
  padding: 5px 0;
  color: @md-blue-grey-50;
  text-align: center;
  &.r_active {
    background-color: @md-blue-grey-700;
  }
}