.items-list {
  max-height: 400px;
  overflow: auto;
  .item-row {
    padding: 2px 0;
  }
  .item-right {
    float: right;
  }

  .item-value {
    color: gray;
    font-size: 0.8em;
  }
  .piece-name {
    display: inline-block;
    height: 20px;
  }
}