.r_list {
  max-height: 400px;
  overflow: auto;
}

.r_item-row {
  padding: 2px 0;
}

.r_item-right {
  float: right;
}

.r_item-value {
  color: gray;
  font-size: 0.8em;
}
.r_piece-name {
  display: inline-block;
  height: 20px;
}