@import "~react-redux-toastr/lib/css/react-redux-toastr.min.css";
@import "~@writeaway/core/src/styles/writeaway";
@import "~@writeaway/plugin-medium/src/medium-editor";
@import "~@writeaway/plugin-medium/src/writeaway-medium";
@import "~@writeaway/plugin-seo/src/google-preview";
@import "~@writeaway/plugin-seo/src/styles";

.r_reset .r_list {
  padding: 0;
}

.r_reset  .r_item-row {
  display: none;
}

.r_reset  .r_item-row.r_item-type-seo {
  display: block;
  padding: 10px;
  margin: 10px;
  padding-right: 16px;
}

.r_reset  .r_item-row.r_item-type-seo span{
  font-size: 12px;
}

.r_reset  .r_pointer-div-message {
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,300;1,500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

main {
  width: 90vw;
  max-width: 1280px;
  margin: 10px auto;
}

.btn {
  padding: 10px;
  display: inline-block;
  color: white;
  background: #565691;
}

.p-4 {
  padding: 1rem;
}
