@import './animation.less';

.r_toast-container {
  width: 310px;
  position: fixed;
  z-index: 99999999;

  &.top-left, &.top-right {
    top: 15px;
  }

  &.bottom-left, &.bottom-right {
    bottom: 15px;
  }

  &.top-left {
    left: 15px;
  }

  &.top-right {
    right: 15px;
  }

  &.bottom-left {
    left: 15px;
  }

  &.bottom-right {
    right: 15px;
  }

  .toastr {
    background-color: #fcfcfc;
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    position: relative;
    color: #333;
    padding: 10px 0;
    opacity: .9;

    button.close-toastr {
      border: none;
      background: none;
      color: white;
      position: absolute;
      right: 10px;
      top: 8px;
    }

    &.animated {
      animation-duration: 1s;
      animation-fill-mode: both;

      &.bounceIn {
        animation-duration: .3s;
      }

      &.bounceOut {
        animation-duration: .2s;
      }

      &.bounceIn {
        animation-name: redaxtor-bounceIn;
      }

      &.bounceOut {
        animation-name: redaxtor-bounceOut;
      }

      &.fadeIn {
        animation-name: redaxtor-fadeIn;
        animation-duration: .7s;
      }

      &.fadeOut {
        animation-name: redaxtor-fadeOut;
        animation-duration: .3s;
      }

      &.bounceInDown {
        animation-name: redaxtor-bounceInDown;
      }

      &.bounceOutUp {
        animation-name: redaxtor-bounceOutUp;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 12px;
      margin-top: -11px;
      font-size: 22px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .message-holder {
      width: 80%;
      margin-left: 15%;
      position: relative;
      font-family: Arial, Helvetica, sans-serif, sans-serif;
      font-size: 1em;
      text-align: left;

      p {
        padding: 5px;
        margin: 0;
      }

      .title {
        font-size: 1.1em;
        font-weight: bold;
      }
    }

    &.info, &.success, &.warning, &.error {
      color: white;
    }

    &.info {
      background-color: #31708f;
    }

    &.success {
      background-color: #31708f;
    }

    &.warning {
      background-color: #c9aa4b;
    }

    &.error {
      background-color: #a94442;
    }

    &.message {
      opacity: 1;
      border: 1px solid #dbdbdb;

      .message-holder {
        width: 100%;
        margin-left: 0;

        .title {
          width: 90%;
          height: 50px;
          text-align: center;
          font-size: 1.2em;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          line-height: 45px;
          padding: 0 15px;
        }

        .message {
          width: 100%;
          max-height: 400px;
          overflow: hidden;
          overflow-y: auto;
          border-top: 1px solid #f1f1f1;
          background-color: white;
          padding: 15px;
          font-size: 1.1em;
          img {
            display: block;
            margin: 10px auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}
