@import (reference) "vars";

.r_bar {
  @import "items-list";
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  color: @rx-text-base;
  z-index: 1000;
  width: 320px;
  border-radius: 2px;
  font-family: @rx-font;
  background-color: @rx-background-base;
  box-shadow: @rx-shadow;
}

.r_bar-header {
  padding: 0 5px 0 10px;
  height: 30px;
  line-height: 28px;
  cursor: pointer;
  color: @rx-text-base;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: @rx-background-base;
  font-size: 11px;
}

.r_bar-header-button {
  float: right;
  width: 25px;
  height: 27px;
  padding: 1px;
  font-size: 18px;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: @rx-text-base;
}

.r_tabs {
  border-top: 1px solid @rx-border-dark;
}

.r_tabs-header {
  display: none;
}

.r_tab-content {
  padding: 10px;
  position: relative;
}

