
.r_icon-pencil:before { content: '\e800'; } /* '' */
.r_icon-trash-empty:before { content: '\e801'; } /* '' */
.r_icon-down-dir:before { content: '\e802'; } /* '' */
.r_icon-up-dir:before { content: '\e803'; } /* '' */
.r_icon-ccw:before { content: '\e804'; } /* '' */
.r_icon-arrows-cw:before { content: '\e805'; } /* '' */
.r_icon-floppy:before { content: '\e806'; } /* '' */
.r_icon-file-code:before { content: '\e807'; } /* '' */
.r_icon-code:before { content: '\e808'; } /* '' */