@font-face {
  font-family: 'r_';
  src: url('../font/r_.eot?95162568');
  src: url('../font/r_.eot?95162568#iefix') format('embedded-opentype'),
       url('../font/r_.woff2?95162568') format('woff2'),
       url('../font/r_.woff?95162568') format('woff'),
       url('../font/r_.ttf?95162568') format('truetype'),
       url('../font/r_.svg?95162568#r_') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'r_';
    src: url('../font/r_.svg?95162568#r_') format('svg');
  }
}
*/
 
 [class^="r_icon-"]:before, [class*=" r_icon-"]:before {
  font-family: "r_";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.r_icon-pencil:before { content: '\e800'; } /* '' */
.r_icon-trash-empty:before { content: '\e801'; } /* '' */
.r_icon-down-dir:before { content: '\e802'; } /* '' */
.r_icon-up-dir:before { content: '\e803'; } /* '' */
.r_icon-ccw:before { content: '\e804'; } /* '' */
.r_icon-arrows-cw:before { content: '\e805'; } /* '' */
.r_icon-floppy:before { content: '\e806'; } /* '' */
.r_icon-file-code:before { content: '\e807'; } /* '' */
.r_icon-code:before { content: '\e808'; } /* '' */